<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find husky_highlevel_controller)/worlds/singlePillar.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch" >
  	<arg name="laser_enabled" value="true"/>
  </include>
   
 <!-- Uncomment for RVIZ <include file="$(find husky_viz)/launch/view_robot.launch"/>  -->
 
  <include file="$(find husky_viz)/launch/view_robot.launch"/>
  
  <node name="pillarLover" pkg="husky_highlevel_controller" type="pillarLover" output="screen" />
  
  
</launch>